server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: drm-sprayer
  datasource:
    url: jdbc:mysql://114.132.162.213:3306/drm_sprayer?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
    username: root
    password: Admin123!
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

mybatis-plus:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.cgnpc.drm.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl